.general {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 90%;
    height: -webkit-fill-available;
    padding: 10px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.imageContainer {
    padding-top: 10px;
    max-height: 158px;
    min-height: 157px;
    object-fit: contain;
}

.Text1 {
    margin: 20px 0px 0px 0px;
    text-decoration: underline;
    color: gray;
}

.Text2 {
    color: gray;
}

.TextH {
    font-size: large;
}